* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #42455a;
    color: #fff;
}

.name{
   color: cyan;
}

.subtitle {
    font-size: 35px;
    color: magenta;
    font-weight: 200;
    padding: 25px;
}

.pre-paragraph {
    color: rgb(252, 162, 247);
    padding-left: 25px;
}

.paragraph {
    padding: 25px;
}

.paragraph ul{
    padding: 25px;
}

.menu{
    
    bottom: 0;
    width: 100%;
    
  
}

.menu ul {
    display: inline-flex;
    margin: 25px; /* da margen entre pantalla y listado*/
    
}

.menu ul li {
    list-style: none; 
    margin: 20px; /* da margen entre cada elemento del listado*/
    color: #fff;
    cursor: pointer;
}

.signup-btn {
    
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;
}

.logo {
    width: 30px;
    margin-top: -7px;
    margin-left: 20px;
}

.banner {
    width: 80%;
    height: 70%;
    position: absolute;
    color: #fff;
}


/*
.no_banner{
    
    position: relative;
    

}*/

.header {
    width: 60%;
    float: right;
}

.vector_ohm {
    width: 60%;
    float: left;
    padding-left: 30px;
    position: relative;
}



.vector_git{
    width: 1;
    height: 1;
    float: right;
    max-width: 100px;
}

.vector_linkedin{
    max-width: 150px;
    float: right;

}

