
/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
}

/*NAVBAR*/

/* Add a black background color to the top navigation */
.topnav {
   
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-image: linear-gradient(magenta, cyan);
    color: white;
  }


/*bottom contacta*/

.signup-btn {
    
    top: 20px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 40px;
    background-image: linear-gradient(#fff,#fff), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;
    font-weight: 550;

}


/*MAIN CONTAINER*/

.header{
   
    background-color: black;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.name{
    color: white;
    padding-bottom: 25px;
    text-align: center;
    
}

.engineer{
    color: white;
    text-align: center;
}

.find_me{
    color: white;
    padding-top: 150px;
    padding-left: 500px;
    padding-bottom: 25px ;
}

/*vectors illustrator*/

.vector_ohm {
    width: 60%;
    float: left;
    padding-left: 30px;
    position: relative;
}

.vector_git{
    width: 1;
    height: 1;
    max-width: 100px;
    padding-left: 350px;
}

.vector_linkedin{
    max-width: 150px;
    padding-left: 50px;

}

