* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #42455a;
    color: #fff;
}

.subtitle {
    font-size: 35px;
    color: magenta;
    font-weight: 200;
    padding: 25px;
}

.pre-paragraph {
    color: rgb(252, 162, 247);
    padding-left: 25px;
}

.paragraph {
    padding: 25px;
}

.menu ul {
    display: inline-flex;
    margin: 25px;
}

.menu ul li {
    list-style: none;
    margin: 20px;
    color: #b2b2b1;
    cursor: pointer;
}

.signup-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;
}

.logo {
    width: 30px;
    margin-top: -7px;
    margin-left: 20px;
}

.banner {
    width: 80%;
    height: 70%;
    position: absolute;
    color: #fff;
}

.header {
    width: 60%;
    float: right;
}

.vector_ohm {
    width: 60%;
    float: left;
}